{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}
  {# see `base.twig:27` for where this block's content will be inserted #}
  {% if results > 0 %}
  <div class="content-wrapper">
    <div class="inner-wrapper posts-container">
      {% for post in posts %}
        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
      {% endfor %}

      {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
    
    </div>
  		<aside class="sidebar">
			  <ul>{{sidebar_1}}</ul>
		  </aside>
  </div>
  {% else %}
  <p>Sorry, no results found.</p>
  <div class="search-container search-short">
    {% include 'searchform.twig' %}
  </div>
  {% endif %}
{% endblock %}

